<footer>
    <div class="hero_footer">
        <div class="address">
            <img src="{{ asset('assets/images/logo1.png') }}">
             <div class="info">
                <i class="fa-solid fa-location-dot"></i>
                <h3> 129 rue montmarte, PARIS 75009 </h3>
             </div>
              <div class="info">
                <i class="fa-solid fa-phone"></i>
                <h3> 01 40 37 39 48 </h3>
             </div>
              <div class="info">
               <i class="fa-solid fa-envelope"></i>
                <h3>bonbon@candoria.com</h3>
             </div>
        </div>
        <div class="information">
            <h1>Information</h1>
            <a href="">A propos</a>
            <a href="">A propos</a>
            <a href="">A propos</a>
            <a href="">A propos</a>
        </div>
        <div class="information">
            <h1>Mon compte</h1>
            <a href="">Mon compte</a>
            <a href="">Connection/Inscription</a>
            <a href="">localisation</a>
            <a href=""> historique de commande</a>
        </div>

        <div class="information">
            <h1>Aide & support client </h1>
            <a href="">Mentions legales</a>
            <a href="">Paiement</a>
            <a href="">Retour</a>
            <a href="">Cookies</a>
        </div>
    </div>
    <hr>
    <div class="last-section">
        <h3>Copyright Candoria 2025 par <span>Raiemanta</span><h3>
        <div class="icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="icons">
            <img src="{{ asset('assets/images/payment1.png') }}">
            <img src="{{ asset('assets/images/payment2.png') }}">
            <img src="{{ asset('assets/images/payment3.png') }}">
            <img src="{{ asset('assets/images/payment4.png') }}">
            
        </div>
    </div>

</footer>