<nav>
    <div class="logo">
        <a href="{{ path('app_home') }}"><img src="{{ asset('assets/images/logo1.png') }}"></a>   
    </div>
    <ul class="menu">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_shop') }}">Boutique</a></li>
        <li><a href="{{ path('app_promo') }}">Promotions</a></li>
        <li><a href="{{path('app_new')}}">Nouveautés</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </ul>

    <div class="icons_sec">
        <i class="fa-solid fa-magnifying-glass"></i>
        {% if app.user %}
            <a href="{{ path('app_profile', { 'id': app.user.id }) }}"><i class="fa-regular fa-user"></i></a>
        {% else %}
            <a href="{{ path('app_login') }}"><i class="fa-regular fa-user"></i></a>
        {% endif %}

          {% if app.user %}
            <a href="{{ path('app_checkout') }}" data-turbo="false">
                <i class="fa-solid fa-cart-shopping">
                    <span id="cart_count">{{ cart_total_items|default(0) }}</span>
                </i>
            </a>
            {% else %}
                <a href="{{ path('app_login') }}" data-turbo="false">
                    <i class="fa-solid fa-cart-shopping">
                        <span id="cart_count">{{ cart_total_items|default(0) }}</span>
                    </i>
                </a>
            {% endif %}
        <h3>{{ cart_total_price|default(0)|number_format(2, '.', ',') }}€</h3>
    </div>

    <div class="bars">
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>
