<header class="header">
    <section class="flex">
        <a href="{{ path('app_home') }}" class="logo" aria-label="Accueil">
            <img src="{{ asset('assets/images/logo2.png') }}" alt="Logo du site" width="130px">
        </a>
        <nav class="navbar">
            <a href="#" title="Accueil">Accueil</a>
            <a href="#" title="Bonbons">Bonbons</a>
            <a href="#" title="Célébrations">Célébrations</a>
            <a href="#" title="Nouveautés">Nouveautés</a>
            <a href="#" title="Contact">Contact</a>  
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>

        <form action="" class="search-form">
            <input type="search" id="search" class="box" placeholder="rechercher">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">
            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="{{ asset('assets/images/tagada.jpg') }}">
                <div class="content">
                    <h3>Tagada</h3>
                    <span class="price">5.00</span>
                    <span class="quantity">qte : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="{{ asset('assets/images/banane.jpg') }}">
                <div class="content">
                    <h3>Bananes</h3>
                    <span class="price">5.00/-</span>
                    <span class="quantity">qte : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="{{ asset('assets/images/acidules.jpg') }}">
                <div class="content">
                    <h3>Acidulés</h3>
                    <span class="price">5.00</span>
                    <span class="quantity">qte : 1</span>
                </div>
            </div>
            <div class="total"> total: 19.99€</div>
            <a href="" class="btn">check out</a>


        </div>


    </section>
</header>
