{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation mot de passe{% endblock %}

{% block body %}

 <div class="reset-container">
        <div class="wrapper_reset">
            <div class="form-header">
                <div class="titles">
                    <div class="title-reset">Reinitialisation</div>
                </div>
            </div>
              {{ form_start(requestPassForm) }}
            <div class="input-box">
                {{ form_row(requestPassForm.email,  {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="input-box">
                <button type="submit"  class="btn-submit">Envoyer</button>
            </div>
              
            {{ form_end(requestPassForm) }}
        </div>
    </div>
  

    {# <main>
        <div class="reset-container">
            <h1>Demande de reinitialisation mot de passe2</h1>
            {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email, {'attr': {'class': 'form-control'}}) }}
                <button type="submit"  class="btn">Envoye</button>
            {{ form_end(requestPassForm) }}
        </div>
    </main> #}

    

{% endblock %}
