{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


<!-- Formulaire d'inscription -->
    <div class="register-container">
       <div class="wrapper_register">
            <div class="form-header">
                <div class="titles">
                    <div class="title-login">Inscription</div>
                </div>
            </div>
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            <div class="input-box">
                    {{ form_row(registrationForm.nom, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="input-box">
                    {{ form_row(registrationForm.prenom, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="input-box">
                    {{ form_row(registrationForm.username, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="input-box">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="input-box">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe',
                        'attr': {'class': 'input-field'}
                    }) }}
                </div>
                <div class="form-cols">
                    <div class="col-1"></div>
                </div>
                 <div class="col-2">
                    <a href="{{ path('app_login') }}">Déjà inscrite ?  Se connecter </a>
                </div>
                <div class="input-box">
                    <button class="btn-submit" id="register">S'inscire <i class="fa-solid fa-right-to-bracket"></i></button>
                </div>
                {# <div class="form-group">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div> #}
                {# <button type="submit" class="btn">M'inscrire</button> #}
            {{ form_end(registrationForm) }}
        </div>
    </div>



    
{% endblock %}
