{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}
{% block body %}

<div class="big-metro-site-container">
    <header>
        <div class="contain-shop">
            <h1 class="main_header_text">Boutique</h1>
            <div class="our-site-link">
                <a href="">Accueil</a>
                <i class="fa-solid fa-chevron-right"></i>
                <p>Boutique</p>
            </div>
        </div>
    </header>
</div>

{# SHOP CONTAINER #}
<div class="shop_container">
    <div class="shop_product_container">
        <div class="shop_header_contain">
            <h3>Affichage 1 - 9 sur 100 resultats</h3>
            <div class="shop_filter">
                <select name="" id="shop_filter_select">
                    <option value="last">dernier</option>
                    <option value="price">Prix bas à elevé</option>
                    <option value="price">Prix elevé à bas</option>
                </select>
                <i class="fa-solid fa-table-cells"></i>
                <div class="shop_bars">
                    <div class="fa-solid fa-list"></div>
                </div>
            </div>
        </div>

        <div class="shop_products">

            <div class="product">
                <div class="product_img">
                    <a href="#">
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

            <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

            <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

            <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

            <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

              <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

              <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

              <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

              <div class="product">
                <div class="product_img">
                    <a href="#">
                        <span class="sale-badge">-40%</span>
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

              <div class="product">
                <div class="product_img">
                    <a href="#">
                        {# <span class="sale-badge">-40%</span> #}
                        <img src="{{ asset('assets/images/anneaux.png') }}" alt="Bonbons Fruités">
                    </a>
                </div>
                <p class="product-name">Bonbons Fruités</p>
                <p class="product-price">$19.99</p>
                <div class="quantity-control">
                    <button class="decrease">-</button>
                    <span class="quantity">1</span>
                    <button class="increase">+</button>
                </div>
                <button class="add-to-cart">Ajouter au Panier</button>
            </div>

        </div>

    </div>
</div>


{% endblock %}