{% extends 'base.html.twig' %}

{% block title %}Modification USER{% endblock %}

{% block body %}
<div class="container">
    <h1> formulaire edition user</h1>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {{form_start(form) }}
        {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
       
        <button type="submit" class="btn">Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock %}
